.content {
  padding: 2rem 0;
}

.content h2 {
  font-weight: 400;
  font-size: 2.8rem;
  margin: 0;
  line-height: 1.2;
}

.entry {
  max-width: 80rem;
  margin: 0 auto;
}

.date {
  font-size: 1.6rem;
  color: var(--primary);
}

.summary {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.link {
  margin-top: 2rem;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--black);
  border: 1px solid var(--primary);
  padding: 1rem 5rem;
  transition: all 0.2s ease-in-out;
}

.link:hover,
.link:focus {
  background-color: var(--primary);
  color: var(--white);
}

/* // This helps respect the line breaks created in Stripe or other CMS  */
.text {
  white-space: pre-wrap;
}
