@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .content {
    grid-column: 2 / 3;
  }
}

.text {
  font-size: 2.4rem;
  text-align: center;
}

.link {
  margin-top: 2rem;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--white);
  border: 1px solid var(--primary);
  padding: 1rem 3rem;
  transition: all 0.2s ease-in-out;
}

.link:hover,
.link:focus {
  background-color: var(--primary);
  color: var(--white);
}
